<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="stylesheet" href="../output.css" />
  </head>
  <body class="bg-gray-600">
    <div
      class="w-[300px] h-[401px] px-[31px] py-[18px] bg-black justify-center items-center gap-2.5 inline-flex"
    >
      <div
        class="w-[274px] flex-col justify-start items-start gap-1 inline-flex"
      >
        <img
          class="self-stretch h-[340px] rounded-[5px]"
          src="../assets/Image/HO00001712.jpeg"
        />
        <div class="h-[42px] flex-col justify-start items-start gap-1 flex">
          <div
            class="self-stretch h-[18px] text-white text-sm font-bold font-['Lato'] leading-tight"
          >
            27 Feb 2025<br />
          </div>
          <div
            class="w-[263px] text-white text-sm font-normal font-['Lato'] leading-tight"
          >
            Dark Mother 2
          </div>
        </div>
      </div>
    </div>

    <div
      class="w-[385px] h-[333px] px-[15px] py-3.5 bg-black/80 rounded-xl border-2 border-white flex-col justify-start items-start gap-[13px] inline-flex"
    >
      <img
        class="w-[352px] h-[198px] rounded-lg"
        src="../assets/Image/0000000012.jpeg"
      />
      <div
        class="text-center text-white text-2xl font-normal font-['Inter'] leading-relaxed"
      >
        Cinimtic Cinema Toul kork
      </div>
      <div class="justify-center items-end gap-2 inline-flex">
        <div data-svg-wrapper class="relative">
          <svg
            width="31"
            height="28"
            viewBox="0 0 31 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_187_833)">
              <path
                d="M15.5 28C15.5 28 26.75 18.0495 26.75 10.5C26.75 7.71523 25.5647 5.04451 23.455 3.07538C21.3452 1.10625 18.4837 0 15.5 0C12.5163 0 9.65483 1.10625 7.54505 3.07538C5.43526 5.04451 4.25 7.71523 4.25 10.5C4.25 18.0495 15.5 28 15.5 28ZM15.5 15.75C14.0082 15.75 12.5774 15.1969 11.5225 14.2123C10.4676 13.2277 9.875 11.8924 9.875 10.5C9.875 9.10761 10.4676 7.77226 11.5225 6.78769C12.5774 5.80312 14.0082 5.25 15.5 5.25C16.9918 5.25 18.4226 5.80312 19.4775 6.78769C20.5324 7.77226 21.125 9.10761 21.125 10.5C21.125 11.8924 20.5324 13.2277 19.4775 14.2123C18.4226 15.1969 16.9918 15.75 15.5 15.75Z"
                fill="#F50404"
              />
            </g>
          </svg>
        </div>
        <div
          class="text-center text-white text-xl font-normal font-['Inter'] leading-snug"
        >
          Tk Avenue Mall, Street 315
        </div>
      </div>
    </div>

    <div
      class="w-[385px] h-[253px] px-[15px] py-3.5 rounded-xl border-2 border-white flex-col justify-start items-start gap-[13px] inline-flex"
    >
      <img
        class="w-[352px] h-[158px] rounded-lg"
        src="../assets/Image/cc8363b4-6479-4d7f-9048-6023d808856b.jpeg"
      />
      <div class="text-white font-normal font-['Inter'] leading-relaxed">
        Detective Chinatown 1900 is now showing in all Cinema ,Get you ....
      </div>
    </div>
  </body>
</html>
